header{
	width: 100%;
	height:0.88rem;
	background:#f60;
	line-height:0.88rem;
	padding:0 0.25rem;
	color:#fff;
	text-align: center;
	font-size:0.28rem;
	font-weight:500;
	position:relative;
}
.map{
	position: absolute;
	float:left;
	font-size:0.26rem;
	padding-right:0.16rem;
}
.map:after{
	content: "";
	display: inline-block;
	width:0.16rem;
	height:0.1rem;
	background:url('../images/bg1.png') no-repeat center;
	background-size: cover;
	margin-left:0.05rem;
}
.map:last-child{
	/*float:right;*/
	width: .37rem;
	height:.37rem;
	/*background:red;*/
	right:.25rem;
	top:0;
	bottom:0;
	margin:auto;
	padding:0;
	background:url('../images/bg2.png') no-repeat center;
	background-size:cover;
}
.map:last-child:after{
	
	background:none;
}
.zxzt{
	width: 100%;
	height:.5rem;
	border-bottom:1px solid #f0f0f0;
	padding:0.09rem 0.25rem;
	line-height: .5rem;
	
}
.zxzt div{
	width: 1rem;
	height:100%;
	float:left;
}
.zxzt div img{
	float:left;
}
.zxzt .marquee{
	margin-left:.24rem;
	width:5.5rem;
	height:100%;
	padding-left:.24rem;
	border-left:1px solid #f0f0f0;
	float:left;
	font-size:.24rem;
	line-height: .32rem;
	position: relative;
	overflow: hidden;
}
.marquee ul{
	width: 100%;
}
.marquee li{
	width: 100%;
	height:.5rem;
	top: 0;
	left: 0;
	background:#fff;
	font-size:0.26rem;
	color:#333;
}
.userbox{
	width: 100%;
	height:2.17rem;
	border-bottom:1px solid #F0F0F0;
}
.userbox li{
	width: 33.333333%;
	height:100%;
	border-right:1px solid #f0f0f0;
	float:left;
	padding:.21rem .1rem;
	text-align: center;
}
.userbox li:last-child{
	border-right:0;
}
.userImg{
	width: 1.2rem;
	height:1.2rem;
	display: inline-block;
	margin-bottom:.2rem;
}
.user-one{
	width: 100%;
	display: block;
	font-size:.26rem;
	font-weight:700;
	color:#333;
}
.heng{
	width: 100%;
	height:0.16rem;
	background:#f7f7f7;
}
.name{
	width: 100%;
	height:.5rem;
	border-top:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0;
	padding:0 .25rem;
	line-height: .5rem;
	font-size:.2rem;
	vertical-align: text-top;
}
.name:before{
	content: '';
	display: inline-block;
	width: 2px;
	height:.2rem;
	background:#f60;
}
.dsbox{
	width: 100%;
	overflow: hidden;
	
}
.dsbox li{
	width: 50%;
	height:1.18rem;
	border-right:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0;
	float:left;

}
.dsbox li:nth-child(2n+1){
	padding-left:.25rem;
}
.dsbox li:nth-child(2n+2){
	border-right:0;
	padding-right: .25rem;
	padding-left:.07rem;
}
.wz{
	overflow: hidden;
	margin-top:.2rem;
	float:left;
}
.wz p:first-child{
	font-size:0.3rem;
	color:#f60;

}
.wz p:last-child{

	font-size:0.24rem;
	color:#333;
}
.dsimg{
	width: calc(100% - 2.3rem);
	float:right;
	margin-top:.2rem;
}
/*  footer  */
.footer{
	width: 100%;
	height:.98rem;
	background:#fff;
	position: fixed;
	bottom:0;
	left:0;
}
.footer li{
	width:20%;
	height:100%;
	text-align: center;
	float:left;
	color:#000;
}
.footer li:nth-child(3)>img{
	display: inline-block;
	height:1.1rem;
	width:1.1rem;
	border-radius:50%;
	margin-top:-0.3rem;
	border:3px solid #fff;
}
.footer span{
	display: block;
	color:#000;
	height:.5rem;
	font-size:.44rem;
	margin-bottom: .1rem;
	/*line-height:0;*/
}
.footer a{
	color:#000;
}
